
{% extends 'base.html' %}

{% block title %}question2{% endblock title %}

{% block style %}
{{ super() }}
   
  <style>
    .wrapper {
      min-height: calc(100vh - 64px);
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
    }

    .card-custom {
      background-color: #fff;
      width: 100%;
      max-width: 420px;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    }

    .btn-amber {
      background-color: #f59e0b;
      color: #fff;
      border: none;
      transition: all 0.3s ease;
    }

    .btn-amber:hover {
      background-color: #d97706;
    }

    .form-control:focus {
      border-color: transparent;
      box-shadow: 0 0 0 0.2rem rgba(245, 158, 11, 0.4);
    }
  </style>
{% endblock style %}




{% block content %}
   
  <!-- Centered Card -->
 <div class="wrapper">
     <div class="card-custom">
    <h1 class="fw-bold text-dark mb-3 fs-4">Reset your password</h1>
    <p class="text-muted mb-4">Enter and confirm your new password.</p>
     {% set feedback = get_flashed_messages(with_categories=True) %}
            {% for cat,message in feedback %}
                {% if cat == 'msg' %}
                    <div class="alert alert-success">
                        <p>{{ message }}</p>
                    </div>
                {% elif cat=='errormsg'%}
                    <div class="alert alert-danger">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
    <!-- Reset Password Form -->
    <form method="POST">
     {{ form.csrf_token}}
      <!-- New Password -->
      <div class="mb-3 text-start" >
        {{ form.password.label(class_= "form-label fw-semibold")}}
        {{ form.password(class_= "form-control")}}
        {%  for error in form.password.errors %}
            <span class="text-danger">{{ error}}</span>
        {% endfor %}
      </div>

      <!-- Confirm Password -->
       <div class = "mb-3 text-start">
      {{ form.confirm_password.label(class_= "form-label fw-semibold")}}
      {{ form.confirm_password(class_= "form-control")}}
      {%  for error in form.confirm_password.errors %}
        <span class="text-danger">{{ error}}</span>
      {% endfor %}
      </div>

      <!-- Submit Button -->
      {{ form.submit(class_="btn btn-amber w-100 py-3") }}
    </form>
  </div>
 </div>
{% endblock content %}
