{% extends 'base.html' %}

{% block title %}Sign up{% endblock title%}

{% block style %}
{{ super() }}
  <style>
        /* .topbar {
            height: 64px;
            background:#1e3a5f;
            display: flex;
            align-items: center;
            padding: 0 18px;
        } */

        /* img {
            width: 34px;
            height: 34px;
            border-radius: 6px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 13px;
            
        } */

        .wrap {
            min-height: calc(100vh - 64px);
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 64px;
        }

        .card-area {
            width: 100%;
            max-width: 520px;
            text-align: center;
            padding: 20px 24px 40px;
        }

        h1 {
            font-size: 28px;
            font-weight: 800;
            margin-bottom: 22px;
        }

        .form-control {
            padding: 14px 16px;
            border-radius: 8px;
            background: white;
        }

        .input-group .input-group-text {
            background: transparent;
            border: 0;
            padding-right: 0;
            
        }

        .btn-cta {
            width: 100%;
            max-width: 420px;
            margin: 18px auto 8px;
            border-radius: 10px;
            padding: 12px 18px;
            background: rgb(255, 165, 0);
            color: #fff;
            border: 0;
            font-weight: 600;
        }

        .btn-cta:hover{
            background-color: rgb(255, 165, 50);
        }

        .below-text {
            margin-top: 12px
        }

        .below-text a {
            font-weight: 700;
            color: #0f1724;
            text-decoration: none
        }

        

        @media (max-width:576px) {
            .btn-cta {
                width: 100%;
                max-width: 100%
            }

            .card-area {
                padding: 18px
            }
        }
    </style>
{% endblock style %}




{% block content %}
   <!-- Sign up Form -->
            <main class="wrap">
        <section class="card-area">
            <h1 id="signupTitle">Sign up for an account</h1>
             {% set feedback = get_flashed_messages(with_categories=True) %}
                            {% for cat,message in feedback %}
                                {% if cat == 'msg' %}
                                    <div class="alert alert-success">
                                        <p>{{ message }}</p>
                                    </div>
                                {% elif cat=='errormsg'%}
                                    <div class="alert alert-danger">
                                        <p>{{ message }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}      
            <form class="mx-auto" style="max-width:420px;" method="post">
                {{ form.csrf_token}}
                <div class="mb-3 text-start">
                    {{ form.name.label(class_= "form-label fw-semibold")}}
                    {{ form.name(class_= "form-control")}}
                     {%  for error in form.name.errors %}
                        <span class="text-danger">{{ error}}</span>
                    {% endfor %}
                </div>

                <div class="mb-3 text-start">
                    {{ form.email.label(class_= "form-label fw-semibold")}}
                    {{ form.email(class_= "form-control")}}
                     {%  for error in form.email.errors %}
                        <span class="text-danger">{{ error}}</span>
                    {% endfor %}
                </div>

                <div class="mb-3 text-start">
                    {{ form.password.label(class_= "form-label fw-semibold")}}
                    {{ form.password(class_= "form-control")}}
                     {%  for error in form.password.errors %}
                        <span class="text-danger">{{ error}}</span>
                    {% endfor %}
                </div>
                
                <div class="mb-3 text-start">
                    {{ form.confirm_password.label(class_= "form-label fw-semibold")}}
                    {{ form.confirm_password(class_= "form-control")}}
                     {%  for error in form.confirm_password.errors %}
                        <span class="text-danger">{{ error}}</span>
                    {% endfor %}
                </div>

                {{ form.submit(class="btn btn-cta w-100 text-white fw-semibold") }}

                


                <div class="below-text text-muted">Already have an account? <a href="{{ url_for('auth.Sign_in')}}">Sign in</a></div>
            </form>
        </section>
    </main>
{% endblock content %}


{% block js %}
        <script>
        
        setTimeout(function() {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
            alert.style.transition = "opacity 0.5s ease";
            alert.style.opacity = "0";
            setTimeout(() => alert.remove(), 500); // remove from DOM after fade-out
            });
        }, 0.5); // 10 seconds
        </script>

     
     {% endblock js%}